<section class="section bg-light" id="features">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <i class="pe-7s-helm h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">IDShade puts <b>you</b> in control of your information.</h3>
                    <p class="text-muted">Stop letting businesses profit off the sale of your private data!</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-sm-6">
                <div>
                    <img src="images/features/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="mb-4">
                    <div class="feature-icon float-left">
                        <i class="pe-7s-mail-open-file text-primary font-24 mr-3"></i>
                    </div>
                    <h4 class="mb-3">Private Email Addresses</h4>
                    <p class="text-muted">Keep your private email address private and only expose an IDShade address to predatory businesses.</p>

                </div>
                <div class="mb-4">
                    <div class="feature-icon float-left">
                        <i class="pe-7s-filter text-primary font-24 mr-3"></i>
                    </div>
                    <h4 class="mb-3">Filter and Forward</h4>
                    <p class="text-muted">Filter valid or important messages and forward them safely to your primary address.</p>

                </div>
                <div>
                    <div class="feature-icon float-left">
                        <i class="pe-7s-junk text-primary font-24 mr-3"></i>
                    </div>
                    <h4 class="mb-3">Never Unsubscribe</h4>
                    <p class="text-muted">Never worry about unsubscribing again - IDShade catches all the junk for you automatically!</p>

                </div>
            </div>

        </div>
        <!-- end row -->

        <div class="row align-items-center justify-content-center mt-5 pt-4">

            <div class="col-lg-5 ">
                <div class="mb-4">
                    <div class="feature-icon float-left">
                        <i class="pe-7s-global text-primary  font-24 mr-3"></i>
                    </div>
                    <h4 class="mb-3">Network Effects</h4>
                    <p class="text-muted">As unwanted messages flow through the system, we learn and better track the junk. Every email makes the system smarter, protecting you <i>and</i> your network.</p>

                </div>
                <div class="mb-4">
                    <div class="feature-icon float-left">
                        <i class="pe-7s-user-female text-primary  font-24 mr-3"></i>
                    </div>
                    <h5 class="mb-3 font-18">Strong Account Protection</h5>
                    <p class="text-muted">Your data stays 100% under your control. No one will ever sell, distribute, or otherwise use your data without your express permission. Close your account at any time to stay protected.</p>

                </div>
                <div>
                    <div class="feature-icon float-left">
                        <i class="pe-7s-users text-primary  font-24 mr-3"></i>
                    </div>
                    <h5 class="mb-3 font-18">Work Together</h5>
                    <p class="text-muted">Work with the community to hold the companies dealing in our private data accountable!</p>

                </div>

            </div>

            <div class="col-lg-5 col-sm-6 offset-lg-1">
                <div>
                    <img src="images/features/img-2.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>

        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>