<section class="section" id="pricing">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <i class="pe-7s-piggy h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">Simple, Basic Pricing</h3>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <!--div class="col-lg-4">
                <div class="pricing-plan mt-3 p-3">
                    <div class="plan-header px-3 mt-3">
                        <div class="pricing-icon float-right">
                            <i class="pe-7s-helm h1 mt-0 text-primary"></i>
                        </div>
                        <h5 class="plan-title font-18">Single Application</h5>
                        <p class="text-muted">Sed ut perspiciatis unde</p>
                        <h2 class="pt-4"><sup><span class="font-18">$</span></sup> <span class="text-primary">24</span> <span class="font-18">Per License</span></h2>
                    </div>
                    <hr class="my-4">
                    <div class="plan-content text-muted mb-4 px-3">
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 5 Projects</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 GB Storage</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> No Domain</p>
                        <p><i class="mdi mdi-close text-danger mr-2"></i> 1 User</p>
                        <p><i class="mdi mdi-close text-danger mr-2"></i> Free Support</p>
                    </div>
                    <div class="text-center py-3">
                        <a href="#" class="btn btn-purple">Purchase now</a>
                    </div>
                </div>
            </div-->
            <div class="col-lg-6">
                <div class="pricing-plan mt-3 p-3 active">
                    <div class="plan-header px-3 mt-3">
                        <div class="pricing-icon float-right">
                            <i class="pe-7s-rocket h1 mt-0 text-primary"></i>
                        </div>
                        <h5 class="plan-title font-18">Private Beta</h5>
                        <p class="text-muted">Sign up early for a beta invitation</p>
                        <h2 class="pt-4"><sup><span class="font-18">$</span></sup> <span class="text-primary">0</span> <span class="font-18">Per Month</span></h2>
                    </div>
                    <hr class="my-4">
                    <div class="plan-content text-muted mb-4 px-3">
                        <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited Email Aliases</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited Storage</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 User</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> Free Support</p>
                    </div>
                    <div class="text-center py-3">
                        <button type="button" class="btn btn-purple" data-toggle="modal" data-target="#signup-modal">Sign Up Now</button>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="pricing-plan mt-3 p-3">
                    <div class="plan-header px-3 mt-3">
                        <div class="pricing-icon float-right">
                            <i class="pe-7s-shield h1 mt-0 text-primary"></i>
                        </div>
                        <h5 class="plan-title font-18">Public Launch</h5>
                        <p class="text-muted">Once IDShade launches publicly, the basic package covers:</p>
                        <h2 class="pt-4"><sup><span class="font-18">$</span></sup> <span class="text-primary">6.99</span> <span class="font-18">Per Month</span></h2>
                    </div>
                    <hr class="my-4">
                    <div class="plan-content text-muted mb-4 px-3">
                        <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited Email Aliases</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited Storage</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> 1 User</p>
                        <p><i class="mdi mdi-check text-primary mr-2"></i> Free Support</p>
                    </div>
                    <div class="text-center py-3">
                        <button type="button" class="btn btn-info" disabled>Purchase Now</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>