<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- include hero.html -%}

    {%- include features.html -%}

    {%- include pricing.html -%}

    {%- include faqs.html -%}

    {%- include footer.html -%}

    {%- include signup.html -%}

    <script src="{{ "/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/js/bootstrap.bundle.min.js" | relative_url }}"></script>
    <script src="{{ "/js/jquery.easing.min.js" | relative_url }}"></script>
    <script src="{{ "/js/scrollspy.min.js" | relative_url }}"></script>

    <!-- custom js -->
    <script src="{{ "js/app.js" | relative_url }}"></script>

  </body>

</html>
